html, body {
  font-family: Manrope, sans-serif;
  color: #1E1B1B;
}


.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1330px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.menu-burger {
  display: none;
}

.main__offer {
  padding: 128px 0px;
  background-color: #F2F2F2;
}

.main__process {
  padding: 134px 0px;
}


.main__cta {
  padding: 0 0 48px 0;
}

.main__brands {
  background: #E2E6E9;
  padding: 128px 0px 82px 0px;
}

.main__blog {
  padding: 131px 0px 136px 0px;
}

.main__service {
  background-color: #F2F2F2;
  padding: 128px 0px;
}

.main__faq {
  background: #E2E6E9;
  padding: 128px 0px;
}

.main__git {
  padding: 121px 0px 0px 0px
}

.footer {
  color: #FFFFFF;
}


.logo {}

.button {
  display: inline-block;
  padding: 16px 40px;
  background: #FF6433;
  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;
  border-radius: 12px;
  letter-spacing: 0.5px;
  line-height: 175%;
  white-space: nowrap;
  transition: all 0.3s;
}

.button:hover {
  background-color: rgb(117, 192, 117);
  transform: scale(1.1);
}

.heading__title {
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  letter-spacing: -0.03em;
}

.heading__title-2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
}

.heading--text-center {
  text-align: center;
}

/* ============================== HEADER TOP ============================== */

.header {}

.header__top {}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0px 30px 0px;
  margin-bottom: 80px;
}

.header__logo {
  transition: all 0.3s;
}

.header__logo:hover {
  transform: scale(1.1);
  filter: blur(0.5px);
}

.header__nav {
  margin-left: auto;
}

.header__nav-list {
  display: flex;
}

.header__nav-item {
  margin-right: 40px;
  transition: all 0.3s;
}

.header__nav-item:hover {
  transform: scale(1.1);
}

.header__nav-item:nth-child(5) {
  margin-right: 32px;
}

.header__nav-link {
  font-weight: 600;
  line-height: 28px;
  white-space: nowrap;
  transition: color 0.3s;
}

.header__nav-link:hover {
  color: #FF6433;
}

.header__line {
  margin-right: 32px;
  height: 42px;
  opacity: 0.36;
  border: 1px solid #939191;
}

.header__call {
  display: flex;
}

.header__call-button {
  display: flex;
  margin-right: 14px;
  align-items: center;
}

.header__call-inf {}

.header__call-text {
  font-weight: 500;
  line-height: 24px;
  white-space: nowrap;
}

.header__call-tel {
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  white-space: nowrap;
  transition: all 0.3s;
}

.header__call-tel:hover {
  color: #FF6433;
}


/* ============================== HEADER BODY ============================== */

.header__body {
  padding: 0 0 135px 0;
}

.header__body-inner {}

.header__main {
  display: flex;
  justify-content: space-between;
}

.header__text {
  margin-right: 21px;
}

.header__title {
  display: inline-flex;
  font-weight: 800;
  font-size: 64px;
  line-height: 84px;
  margin-top: 84px;
  letter-spacing: -0.03em;
  max-width: 625px;
}

.header__button-content {
  display: flex;
  position: relative;
  margin-top: 32px;
}

.header__button {
  margin-right: 49px;
}

.header__play-video {
  display: inline-flex;
  align-items: center;
  transition: all 0.3s;
}

.header__play-video:hover {
  transform: scale(1.1);
}

.header__player {
  padding-right: 8px;
}

.header__play-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.header__open {
  margin-top: 48px;
  position: relative;
}

.header__open::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  background: url("../images/header/icon/clock-Icon.svg") no-repeat;
  width: 31px;
  height: 31px;
}

.header__open-text1 {
  color: #939191;
  line-height: 24px;
  font-weight: 500;
  padding-left: 50px;
}

.header__open-text2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  padding-left: 50px;
}

.header__img {
  position: relative;
  display: flex;
  align-self: center;
}

.header__service {
  position: absolute;
  width: 281.64px;
  height: 102px;
  left: 0px;
  top: 81px;
  background: linear-gradient(138.85deg, #FFFFFF -38.72%, #FFFFFF 153.95%);
  box-shadow: 0 0 0 12px rgba(225, 225, 225, 0.43);
  border-radius: 59px;
  display: flex;
  align-items: center;
}

.header__circle {
  background-color: #5CBA99;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  margin-right: 14.41px;
  margin-left: 13.93px;
}

.text1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  margin-right: 3px;
}

.text2 {
  font-weight: 600;
  line-height: 28px;
}

.header__text-service {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}

.header__rating {
  position: absolute;
  width: 326px;
  height: 102px;
  right: 0px;
  top: 460px;
  background: linear-gradient(138.85deg, #FFFFFF -38.72%, #FFFFFF 153.95%);
  box-shadow: 0 0 0 12px rgba(225, 225, 225, 0.43);
  border-radius: 59px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.header__rating-box1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 15px;
}

.header__rating-numb {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}

.header__label {
  font-weight: 500;
  font-size: 16px;
  line-height: 14px;
}

.header__img-1 {
  width: 605px;
  margin: 0 20px 0 30px;
}

/* ============================== OFFER ============================== */

.offer__inner {}

.offer__information {
  display: flex;
  flex-direction: column;
}

.offer__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 64px;
}

.heading__subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}

.heading--text-width {
  max-width: 858px;
}

.offer__box-services {
  display: grid;
  grid-template: repeat(2, 232px) / repeat(4, 1fr);
  grid-gap: 8px 8px;
  font-size: 100%;
  margin-bottom: 32px;
}

.grid-1__item {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.3s;
}

.grid-1__item svg {
  margin-bottom: 16px;
}

.grid-1__item:hover {
  background-color: #FF6433;
  color: #FFFFFF;
}

.grid-1__item:hover path {
  fill: #FFFFFF;
}

.offer__text {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.03em;
}


.offer__view {
  display: flex;
  justify-content: end;
}

.offer__view-text {
  margin-right: 16px;
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
}


/* ============================== PROCESS ============================== */
/* ============================== PROCESS ============================== */
.process__inner {
  display: flex;
}

.process__header {
  margin-right: 131px;
}


.process__title {
  max-width: 524px;
  margin-bottom: 16px;
}

.process__text {
  max-width: 437px;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  opacity: 0.6;
  margin-bottom: 32px;
}

.process__button {}


.process__content {}

.process__list {}

.process__list-item {
  display: flex;
  margin-bottom: 22px;
  position: relative;
}

.process__list-item:last-child {
  margin-bottom: 0;
}

.process__list-item:nth-child(1):before {
  content: "";
  display: block;
  position: absolute;
  border: 2px dashed #FF6433;
  transform: rotate(90deg);
  top: 114px;
  left: 2px;
  width: 69px;
  height: 0px;
  /* background: url("../images/process/Line_dot.svg") 0 0 no-repeat; */
}

.process__list-item:nth-child(2):before {
  content: "";
  display: block;
  position: absolute;
  border: 2px dashed #FF6433;
  transform: rotate(90deg);
  top: 114px;
  left: 2px;
  width: 69px;
  height: 0px;
  /* background: url("../images/process/Line_dot.svg") 0 0 no-repeat; */
}


.process__list-circle {
  background: #661CE7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  width: 72px;
  height: 72px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.process__list-circle::after {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.24);
  top: 100%;
  left: 50%;
  margin: -21px 0px 0px -21px;
}

.process__list-cirlce--number {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #ffffff;
}

.process__list-header {
  max-width: 336px;
  padding: 13px 4px 0px 24px;
}

.process__list-title {
  white-space: nowrap;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.03em;
}

.process__list-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  opacity: 0.6;
  margin-top: 8px;
}

/* ============================== CTA ============================== */
/* ============================== CTA ============================== */

.cta__header {
  display: flex;
  background: #FF6433;
  width: 729px;
  height: 502px;
  padding: 128px 80px 128px 80px;
  position: relative;
  margin-bottom: 48px;
}

.cta__header::before {
  position: absolute;
  top: 0px;
  left: -316px;
  width: 944px;
  height: 502px;
  content: "";
  background: url("../images/cta/1.jpg") 0 0 no-repeat;
  z-index: -1;
}

.cta__header::after {
  position: absolute;
  top: 0px;
  left: 660px;
  width: 944px;
  height: 502px;
  content: "";
  background: url("../images/cta/2.jpg") 0 0 no-repeat;
  z-index: -1;
}

.cta__text {
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  letter-spacing: -0.03em;
  color: #FFFFFF;
  max-width: 570px;
}

.cta__button {
  position: absolute;
  background-color: #1E1B1B;
  top: 310px;
  left: 61px;
}

.cta__experience {}

.cta__row {
  display: flex;
  justify-content: space-between;
}

.cta__row-item {}

.cta__row-heading {
  color: #661CE7;
}

.cta__row-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  opacity: 0.7;
  letter-spacing: -0.03em;
}


/* ============================== BRANDS ============================== */
/* ============================== BRANDS ============================== */

.brands__heading {
  margin-bottom: 32px;
}

.brands__grid {
  display: grid;
  grid: repeat(2, auto) / repeat(5, 1fr);
  grid-gap: 39px 39px;
}

.brands__grid-item {}

.brands__grid-logo {
  display: block;

}

.brands__grid-logo img {
  height: 100%;
  width: 100%;
  opacity: 0.8;
  transition: filter 3s;
}

.brands__grid-logo:hover img {
  filter: blur(1px);
  transition: filter 0.3s;
}

/* ============================== OUR BLOG ============================== */
/* ============================== OUR BLOG ============================== */

.blog__inner {}

.heading__title {}

.blog__title {
  margin-bottom: 47px;
}

.blog__body {}

.blog__filter-box {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.blog__filter-item {
  margin-right: 30px;
}

.blog__filter-item:last-child {
  margin-right: 0;
}

.blog__filter-btn {
  background-color: transparent;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
}

.blog__filter-btn--active {
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.blog__list {
  display: grid;
  grid-template: repeat(2, auto) / repeat(3, 1fr);
  gap: 64px 32px;
}

.blog__list-item {}

.blog__list-item--1 {}

.blog__list-link {}

.blog__image-box img {
  width: 100%;
  height: 100%;
}

.blog__image-box {
  margin-bottom: 24px;
}

.blog__link-content {}

.blog__link-date {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #939191;
  margin-bottom: 16px;
}

.blog__link-text-1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 16px;
}

.blog__link-text-2 {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #232536;
  max-width: 405px;
}

/* ============================== SERVICE ============================== */
/* ============================== SERVICE ============================== */


.service__heading {
  display: flex;
  justify-content: center;
  margin-bottom: 76px;
}


.service__heading h2 {
  max-width: 910px;
}

.servise__wrapper {
  position: relative;
}

.service__slider .slick-list {
  margin-left: -24px;
  margin-right: -24px;
}

.service__slider {
  margin-bottom: 45px;
}

.service__slide {
  max-width: 630px;
  height: 376px;
  background-color: #FFFFFF;
  border: 1px solid rgba(172, 172, 172, 0.29);
  box-shadow: 11px 130px 100px 30px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
  padding: 72px;
  margin: 0 24px;
}

.service__people {
  display: flex;
  margin-bottom: 24px;
}

.service__avatar {
  margin-right: 16px;
}

.service__avatar img {
  border-radius: 50%;
}

.service__about {
  display: flex;
  flex-direction: column;
}

.service__name {}

.service__city {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #939191;
}

.service__text {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  width: 472px;
  letter-spacing: -0.03em;
}

.service__dots .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.service__dots li {
  margin-right: 15px;
}

.service__dots li:last-child {
  margin-right: 0;
}

.service__dots button {
  font-size: 0;
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
}

.service__dots button::before {
  content: "";
  height: 4px;
  width: 100%;
  background-color: #939191;
}

.service__dots .slick-active button::before {
  background-color: #FF6433;
  transform: scale(1.1);
  transition: all 0.7s;
}

.service__slider-arrows {
  position: absolute;
  right: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service__slider-arrow {
  display: block;
  line-height: 0;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.service__slider-arrow::before {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  border-radius: 50%;
  z-index: -1;
  transition: all 0.3s;
}

.service__slider-arrow:hover::before {
  background: #1E1B1B;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: translate(-50%, -50%) scale(1.3);
}

.service__slider-arrow path {
  transition: all 0.3s;
}

.service__slider-arrow:hover path {
  fill: #F2F2F2;
}

.service__slider-prev {
  position: relative;
  margin-right: 48px;
}

.service__slider-next {
  position: relative;
}

.service__slider-next svg {
  transform: rotate(-180deg);
}

.service__slider-prev:hover svg {
  transition: all 0.3s;
  transform: translateX(-5px);
}

.service__slider-prev:hover::after {
  content: "";
  position: absolute;
  display: block;
  top: 7px;
  right: -3px;
  width: 10px;
  height: 2px;
  background: url(../images/testimonials/icons/line.svg) no-repeat center / cover;
}

.service__slider-next:hover svg {
  transition: all 0.3s;
  transform: translateX(5px) rotate(-180deg);
}

.service__slider-next:hover::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -3px;
  width: 10px;
  height: 2px;
  background-color: #F2F2F2;
}

/* ============================== FAQ ============================== */
/* ============================== FAQ ============================== */


.faq__inner {}

.faq__heading {
  margin-bottom: 86px;
}

.faq__accordeon {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px auto;
}

.faq__accordeon-item {
  width: 100%;
  background: #FFF;
  margin-bottom: 12px;
  padding: 32px 40px;
}

.faq__accordeon-item:last-child {
  margin-bottom: 0px;
}

.faq__accordeon-link {}

.faq__accordeon-link--active {}

.faq__accoredon-heading {
  position: relative;
  margin-bottom: 16px;
}


.faq__accoredon-heading::before,
.faq__accoredon-heading::after {
  content: "";
  position: absolute;
  top: 22px;
  right: 15px;
  width: 20px;
  height: 2px;
  background-color: #FFFFFF;
  border-radius: 2px;
  z-index: 1;
}

.faq__accoredon-heading::after {
  transform: rotate(90deg);
  transition: all .3s;
}

.faq__accordeon-link--active .faq__accoredon-heading::after {
  transform: rotate(0deg);
}

.faq__square {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 48px;
  background-color: #FF6433;
}


.faq__accordeon-text {
  max-width: 700px;
  font-size: 18px;
  font-weight: 600;
  line-height: 175%;
  color: #939191;
}


/* ============================== GET IN TOUCH ============================== */
/* ============================== GET IN TOUCH ============================== */

.git__inner {}


.git__heading {
  max-width: 505px;
  margin-bottom: 48px;
  margin-left: 35px;
}

.git__content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 290px;
}

.git__left {
  margin-left: 35px;
}

.git__heading>.heading__title {
  font-size: 64px;
  font-weight: 800;
  line-height: 84px;
  letter-spacing: -1.92px;
}

.git__form {
  position: relative;
  width: 624px;
}

.git__form-row {
  border-radius: 2px;
  margin-bottom: 4px;
  height: 72px;
  background-color: #F2F2F2;
}

.git__form-row:nth-child(4) {
  margin-bottom: 0px;
}

.git__form-input {
  width: 100%;
  background-color: #F2F2F2;
  padding: 23px 40px;
}

.git__form-input::placeholder {
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  color: #1E1B1B;
}

.git__form-btn {
  position: absolute;
  bottom: -110px;
  left: -35px;
}

.git__right {}

.git__contacts {}

.git__contacts-item {
  margin-bottom: 32px;
}

.git__item-top {
  font-weight: 600;
  line-height: 28px;
  opacity: 0.699999988079071;
}

.git__item-address,
.git__item-link,
.git__item-open {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.72px;
}

.git__item-link {
  display: block;
  transition: all 0.3s;
}

.git__item-link:hover {
  color: #FF6433;
}

.git__map {
  position: relative;
  margin-left: 35px;
  width: 1280px;
  height: 512px;
}

[class*="copyrights-pane"] {
  display: none !important;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

.git__image {
  margin-top: -165px;
  background: url("../images/getsection/image.jpg") no-repeat center center;
  width: 100%;
  height: 450px;
  background-size: cover;
}


/* ============================== FOOTER ============================== */
/* ============================== FOOTER ============================== */

.footer__top {
  background-color: #1E1B1B;
  opacity: 0.9800000190734863;
  padding: 128px 0;
}

.footer__top-inner {
  display: flex;
}

.footer__left {
  margin-right: 193px;
}

.footer__heading {
  max-width: 465px;
  margin-bottom: 64px;
}

.footer__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -1.44px;
}

.footer__social {
  display: flex;
}

.footer__social-item {
  margin-right: 24px;
}

.footer__social-item:last-child {
  margin-right: 0;
}

.footer__social-link {
  display: block;
  transition: all 0.3s;
}

.footer__social-link:hover {
  transform: scale(1.4);
  filter: blur(0.5px);
}

.footer__right {}

.footer__contacts {}

.footer__contacts-item {
  margin-bottom: 32px;
}

.footer__contacts-item:last-child {
  margin-bottom: 0;
}

.footer__item {
  font-size: 18px;
  font-weight: 600;
  line-height: 175%;
  opacity: 0.6000000238418579;
}

.footer__item-link,
.footer__item-address,
.footer__item-open {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.72px;
}

.footer__item-link {
  transition: all 0.3s;
}

.footer__item-link:hover {
  color: #FF6433;
}

/* ============================= ============================== */

.footer__bottom {
  background-color: #1E1B1B;
  padding: 64px 0;
}

.footer__bottom-inner {
  display: flex;
  align-items: center;
}

.footer__logo {
  margin-right: 288px;
  transition: all 0.3s;
}

.footer__logo:hover {
  transform: scale(1.1);
  filter: blur(0.5px);
}

.footer__nav {
  margin-right: auto;
}

.footer__nav-list {
  display: flex;
}

.footer__nav-item {
  margin-right: 40px;
}

.footer__nav-item:last-child {
  margin-right: 0px;
}

.footer__nav-link {
  display: block;
  font-weight: 600;
  line-height: 28px;
  white-space: nowrap;
  transition: all 0.3s;
}

.footer__nav-link:hover {
  color: #FF6433;
  transform: scale(1.1);
}

.footer__paragraph {
  color: #939191;
  font-weight: 600;
  line-height: 28px;
}

/* ============================== MEDIA ============================== */
/* ============================== MEDIA ============================== */

/* ============================== 1300 ============================== */
@media(max-width:1300px) {
  .header__title {
    font-size: 50px;
    line-height: 68px;
    max-width: 451px;
  }

  .header__service {
    width: 220px;
    height: 70px;
  }

  .header__circle {
    width: 50px;
    height: 50px;
  }

  .header__circle {
    width: 50px;
    height: 50px;
  }

  .header__circle .text1 {
    font-size: 18px;
    line-height: 30px;
  }

  .header__circle .text2 {
    font-size: 14px;
  }

  .header__text-service {
    font-size: 20px;
    line-height: 30px;
  }

  .header__rating {
    width: 230px;
    height: 70px;
  }

  .header__rating-box1 {
    display: none;
  }

  .header__img-1 {
    max-width: 520px;
  }

  /* ============================================================ */
  .offer__heading .heading__title {
    font-size: 50px;
    line-height: 68px;
  }

  /* ============================================================ */
  .process__title {
    font-size: 50px;
    line-height: 68px;
  }

  /* ============================================================ */
  .brands__heading .heading__title {
    font-size: 50px;
    line-height: 68px;
  }

  .brands__grid {
    grid-gap: 25px 25px;
  }

  /* ============================================================ */
  .blog__title {
    font-size: 50px;
    line-height: 68px;
  }

  .blog__link-text-1 {
    font-size: 28px;
    line-height: 44px;
  }

  /*============================================================ */
  .service__heading h2 {
    max-width: 690px;
  }

  .service__heading .heading__title {
    font-size: 50px;
    line-height: 68px;
  }
}

@media(max-width:1250px) {
  .service__slide {
    padding: 70px 10px 10px 45px;
  }
}

@media(max-width:1150px) {
  .service__slide {
    padding: 70px 10px 10px 35px;
  }

  .service__text {
    font-size: 24px;
    line-height: 36px;
    width: 450px;
  }
}

/* ============================== 1100 ============================== */

@media(max-width:1100px) {
  .header__body {
    position: relative;
  }

  .header__main {
    display: block;
  }

  .header__text {
    margin: 0px
  }

  .header__title {
    margin: 0;
  }

  .header__img {
    position: static;
  }

  .header__service {
    left: 25px;
    top: 435px;
  }

  .header__rating {
    left: 280px;
    top: 435px;
  }

  .header__img-1 {
    display: none;
  }

  /* ============================================================ */
  .offer__box-services {
    grid-template: repeat(4, 232px) / repeat(2, 1fr);
  }

  /* ============================================================*/
  .brands__grid {
    grid-gap: 6px 6px;
  }

  /* ============================================================*/
  .blog__link-text-1 {
    font-size: 22px;
    line-height: 40px;
  }

  /* ============================================================*/
  .service__slide {
    padding: 70px 10px 10px 35px;
  }

  .service__text {
    font-size: 20px;
    line-height: 36px;
    width: 395px;
  }
}

/* ============================== 970 ============================== */
@media(max-width:970px) {
  .process__inner {
    flex-direction: column;
  }

  .process__header {
    margin: 0 0 50px 0;
  }

  /* ============================================================*/

  .service__text {
    font-size: 18px;
    line-height: 36px;
    width: 325px;
  }
}

/* ============================== 900 ============================== */

@media(max-width:900px) {

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    background: #1d1c1c59;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
  }

  .overlay--show {
    visibility: visible;
    opacity: 1;
  }

  .menu-burger {
    position: fixed;
    top: 10px;
    left: 10px;
    display: flex;
    width: 40px;
    height: 40px;
    z-index: 999;
    box-shadow: 0 1px 8px #a1a1a1;
    background-color: #5CBA99;
    border-radius: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
  }

  .menu-burger:hover {
    transform: scale(1.1);
  }

  .menu-burger span {
    display: block;
    background-color: #FFF;
    height: 3px;
    width: 20px;
    border-radius: 4px;
    margin: 5px 0;
    transition: all 0.5s;
  }

  .menu-burger::after,
  .menu-burger::before {
    display: block;
    content: "";
    background-color: #FFF;
    height: 3px;
    width: 20px;
    border-radius: 4px;
    transition: all 0.5s;
  }

  .menu-burger.open-menu span {
    opacity: 0;
    transition: all 0.7s;
  }

  .menu-burger.open-menu:before {
    position: relative;
    transform: rotate(38deg);
    top: 7px;
    transition: 0.5s;
  }

  .menu-burger.open-menu:after {
    position: relative;
    transform: rotate(-38deg);
    bottom: 9px;
    transition: 0.5s;
  }

  .header {
    padding-top: 197px;
  }

  .header__top {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #E2E6E9;
    z-index: 100;
    min-width: 320px;
    overflow: auto;
    transform: translateX(-100%);
    transition: all 0.5s;
  }

  .header__top-open {
    transform: translate(0%);
  }

  .header__top-inner {
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0;
    height: 100%;
    padding: 100px 0;
  }

  .header__nav {
    margin: 0 auto;
  }

  .header__nav-list {
    flex-direction: column;
    align-items: center;
  }

  .header__nav-item {
    margin: 0;
    padding: 30px 0;
  }

  .header__nav-item:last-child {
    margin: 0;
  }

  .header__line {
    display: none;
  }

  /* ================================================================== */
  .cta__row-heading {
    font-size: 48px;
    line-height: 66px;
  }

  .cta__row-text {
    font-size: 20px;
    line-height: 30px;
  }

  /* ================================================================== */
  .blog__list {
    grid-template: repeat(3, auto) / repeat(2, 1fr);
    gap: 54px 32px;
  }

  /* ================================================================== */
  .service__text {
    font-size: 17px;
    line-height: 36px;
    width: 283px;
  }

  .service__slider-arrows {
    display: none;
  }
}

/* ================================== 820 ================================ */
@media(max-width:820px) {
  .offer__heading .heading__title {
    font-size: 48px;
    line-height: 64px;
  }

  /* ================================================================== */
  .cta__header {
    width: 85%;
    height: 280px;
    padding: 32px 50px 128px 80px;
  }

  .cta__header::before {
    display: none;
  }

  .cta__header::after {
    display: none;
  }

  .cta__text {
    font-size: 32px;
    max-width: 380px;
  }

  .cta__button {
    top: 180px;
    left: 60px;
  }

  .cta__row span {
    display: none;
  }

  .cta__row {
    max-width: 500px;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  }

  /* ================================================================== */

  .brand__grid-wrapper {
    display: flex;
  }

  .brands__grid {
    grid: repeat(5, auto) / repeat(2, 1fr);
    grid-gap: 15px 15px;
    margin: 0 auto;
  }

  /* ================================================================== */
  .service__slide {
    padding: 50px 10px 10px 35px;
  }

  .service__text {
    width: 280px;
  }
}

/* ================================== 750 ================================ */
@media(max-width:750px) {
  .service__slide {
    padding: 40px 10px 10px 35px;
  }

  .service__text {
    width: 230px;
  }
}

/* ================================== 679 ================================ */
@media(max-width:679px) {
  .service__slide {
    padding: 70px 70px 70px 50px;
  }

  .service__text {
    font-size: 22px;
    line-height: 36px;
    width: 367px;
  }

  .service__dots button {
    width: 16px;
  }

}


/* ================================== 600 ================================ */

@media(max-width:600px) {

  .offer__heading .heading__subtitle {
    font-size: 22px;
    line-height: 30px;
  }

  .offer__heading .heading__title {
    font-size: 44px;
    line-height: 58px;
  }

  /* ================================================================== */
  .cta__header {
    padding: 32px 50px 128px 60px;
  }

  .cta__text {
    font-size: 28px;
    max-width: 330px;
  }

  .cta__button {
    left: 45px;
  }
}

/* ================================== 550 ================================ */

@media(max-width:550px) {
  .header__img {
    display: none;
  }

}

/* ================================== 500 ================================ */

@media(max-width:500px) {
  .header {
    padding-top: 120px;
  }

  .header__title {
    font-size: 30px;
    line-height: 42px;
    max-width: 280px;
  }

  .header__button-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .header__button {
    margin: 0 0 30px 0;
  }

  .header__open-text1 {
    font-size: 13px;
    padding-left: 45px;
  }

  .header__open-text2 {
    font-size: 15px;
    padding-left: 45px;
  }

  /* ================================================================== */
  .main__offer {
    padding: 70px 0px;
    background-color: #F2F2F2;
  }

  .offer__heading {
    margin-bottom: 45px;
  }

  .offer__heading .heading__subtitle {
    font-size: 18px;
    line-height: 24px;
  }

  .offer__heading .heading__title {
    font-size: 30px;
    line-height: 42px;
  }

  .offer__box-services {
    grid-template: repeat(4, 165px) / repeat(2, 1fr);
  }

  .offer__text {
    font-size: 16px;
    line-height: 36px;
  }

  .offer__view-text {
    font-size: 16px;
    line-height: 175%;
  }

  /* ================================================================== */
  .main__process {
    padding: 70px 0px;
  }

  .process__title {
    font-size: 30px;
    line-height: 48px;
    max-width: 275px;
  }

  .process__text {
    max-width: 260px;
  }

  .process__list-item:nth-child(1):before {
    top: 98px;
    left: -7px;
  }

  .process__list-item:nth-child(2):before {
    top: 98px;
    left: -7px;
  }

  .process__list-circle {
    width: 55px;
    height: 55px;
  }

  .process__list-cirlce--number {
    font-size: 26px;
    line-height: 32px;
  }

  .process__list-header {
    max-width: 200px;
    padding: 5px 4px 0px 18px;
  }

  .process__list-title {
    font-size: 20px;
    line-height: 32px;
  }

  .process__list-text {
    line-height: 28px;
  }

  /* ================================================================== */
  .cta__header {
    width: 100%;
    padding: 32px 50px 128px 40px;
  }

  .cta__text {
    font-size: 20px;
    max-width: 250px;
  }

  .cta__button {
    top: 150px;
    left: 30px;
  }

  .cta__row-heading {
    font-size: 32px;
    line-height: 50px;
  }

  .cta__row-text {
    font-size: 16px;
    line-height: 26px;
  }

  /* ================================================================== */
  .main__brands {
    padding: 70px 0;
  }

  .brands__heading .heading__title {
    font-size: 33px;
    line-height: 40px;
  }

  /* ================================================================== */
  .main__blog {
    padding: 70px 0;
  }

  .blog__title {
    font-size: 34px;
    line-height: 40px;
  }

  .blog__filter-btn {
    background-color: transparent;
    font-weight: 700;
    font-size: 28px;
    line-height: 44px;
  }

  .blog__list {
    grid-template: repeat(6, auto) / repeat(1, 1fr);
    gap: 54px 32px;
  }

  /* ================================================================== */
  .main__service {
    padding: 70px 0px;
  }

  .service__heading .heading__title {
    font-size: 34px;
    line-height: 40px;
  }

  .service__slide {
    padding: 40px 70px 70px 35px;
  }

  .service__text {
    font-size: 16px;
    line-height: 32px;
    width: 230px;
  }
}

/* ================================== 450 ================================ */
@media(max-width:450px) {
  .header__top {
    right: 0;
  }
}